body {
  margin: 0;
  font-family: "American Typewriter", "Courier New", monospace, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns title at the top */
  align-items: center;
}

.subtitle {
  color: #555;
  margin: 0;
}

.navigation-network {
  position: relative; /* Remove absolute positioning */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin-top: 20px; /* Ensure space between title and nav */
}

.network-connections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-box {
  position: absolute;
  top: 0%;
  left: 20%;
}
.education-box {
  position: absolute;
  top: 0%;
  left: 35%;
}
.experience-box {
  position: absolute;
  top: 0%;
  left: 50%;
}
.publications-box {
  position: absolute;
  top: 0%;
  left: 65%;
}

.box {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 2px;
  width: 75px;
  height: 75px;
  text-align: center;
  transition: all 0.3s ease;
}

.label {
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.image-link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}

.content {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: background-color 0.3s ease;
}

.box.highlight {
  background-color: #ffffff; /* Light blue background */
  border: 2px solid #007bff; /* Blue border */
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.3);
}

.footnote {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  color: #555;
  padding: 10px 0;
}